@{Layout = "MenuLayout"; }

<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <title>Главная Work Tracking</title>
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body class="BodyStyle">

    <header>
        <div class="DivRow">
            <h1 class="Headline">Описание и инструкция программы Work Tracking</h1>
        </div>
    </header>

    <div class="widget">
        <h3 class="widget-title">Категории</h3>
        <ul class="widget-list">
            <li><a href="#StartProgramm">Запуск программы</a></li>
            <li><a href="#ChangeServer">Изменение сервера</a></li>
            <li><a href="#AddNewWork">Добавление новой <br/> работы</a></li>
            <li><a href="#AllOrders">Вкладка "все завки"</a></li>
            <li><a href="#CleanFilters">Очистка фильтров</a></li>
            <li><a href="#Search">Поиск</a></li>
            <li><a href="#GetExcel">Выгрузка в Excel</a></li>
            <li><a href="#LoadExcel">Импорт ремонтов из Excel</a></li>
            <li><a href="#ChangeWork">Изменение работы</a></li>
            <li><a href="#OrderStatus">Цветовая индикация <br /> статусов заявки</a></li>
            <li><a href="#Repairs">Вкладка ремонты</a></li>
            <li><a href="#RepairsMenu">Вкладка ремонты <br/> Контекстное меню</a></li>
            <li><a href="#Devices">Вкладка устройства</a></li>
            <li><a href="#ChangeDevice">Изменение устройства</a></li>
            <li><a href="#Administrate">Вкладка администрирование</a></li>
            <li><a href="#AdministrateAddItem">Вкладка администрирование <br /> Добавление записи</a></li>
            <li><a href="#AdministrateChangeItem">Вкладка администрирование <br /> Изменение записи</a></li>
            <li><a href="#AdministrateDeleteItem">Вкладка администрирование <br /> Удаление записи</a></li>
            <li><a href="#AdministrateAddUser">Вкладка администрирование <br /> Добавление пользователя</a></li>
            <li><a href="#AdministrateChangeUser">Вкладка администрирование <br /> Изменение пользователя</a></li>
            <li><a href="#AdministrateDeleteUser">Вкладка администрирование <br /> Удаление пользователя</a></li>
        </ul>
    </div>

    <div class="MainDiv">
        <div class="DivRow">
            <h2 class="Headline">Work tracking - это средство мониторинга выполненных работ и статуса устройств поступивших в отдел компьютерного сервиса для ремонта или иных работ.</h2>
            <p class="RegularFontStyle">
                На этой странице будут представлены инструкция и детали работы с программой Work Tracking.
            </p>

            <main>
                <p class="RegularFontStyle">
                    Программа оперирует несколькими объектами:
                    <ul class="li-lists">
                        <li> "Работа/Заявка" - выполненная работа пользователя добавленная в БД.</li>
                        <li>"Ремонт" - ремонт устройства, выполняемый поставщиком услуг, например таким как сервисный центр.</li>
                        <li>"Устройство" - запись данных об устройстве. Так же включает в себя записи "ремонтов" по конкретному устройству.</li>
                    </ul>
                </p>

                <p class="RegularFontStyle">
                    В программе определены несколько вкладок, доступных в зависимости от уровня доступа пользователя. Кнопки перехода по вкладкам расположены в левой части окна программы.
                    <ul class="li-lists">
                        <li>"Мои заявки" - Отображает выполненные работы пользователя за месяц от текущей даты</li>
                        <li>"Все заявки" - Отображает все выполенные работы всех пользователей за все время. Позволяет фильтровать, выгружать и изменять работы пользователей.</li>
                        <li>"Все ремонты" - Отображает все ремонты за все время. Позволяет фильтровать, выгружать и изменять ремонты.</li>
                        <li>"Устройства" - Отображает добавленные устройства и их ремонты. Позволяет изменять устройства и их ремонты.</li>
                        <li>"Администрирование" - Отображает списки обектов. Позволяет добавлять, изменять и удалять объекты.</li>
                    </ul>
                </p>

                <img src="~/img/Details/Tabs.gif" />

                <h2 id="StartProgramm" class="Headline">Запуск программы:</h2>

                <p class="RegularFontStyle">
                    Запуск программы производится двойным кликом по файла Work_Tracking.exe. Во время запуска производится проверка подключения и получение данных с сервера.
                </p>

                <img src="~/img/Details/StartProgram.gif" />

                <h2 id="ChangeServer" class="Headline">Изменение сервера при запуске программы:</h2>

                <p class="RegularFontStyle">
                    Если при проверке подключения произошла ошибка или сервер изменился, то программы выдаст ошибку при старте. Вы можете изменить сервер подключения.
                    Для изменения сервера нажмите кнопку "Да", введите имя сервера и нажмите кнопку "Применить".
                    Программа проверит подключение к новому серверу и будет перезапущена с новыми параметрами.
                    При нажатии кнопки "Нет" программа будет закрыта.
                    При нажатии "Повторить" будет произведена попытка подключения с текущими параметрами.
                </p>

                <img src="~/img/Details/ChangeServerInLoad.gif" />

                <p class="RegularFontStyle">
                    Адрес сервера можно сменить в процессе выполнения программы. Для этого необходимо нажать на кнопку "Сменить сервер" в нижнем левом углу и ввести адрес сервера.
                    Программа проверит соединение с новым сервером и, при удачной проверке, перезапуститься с новыми параметрами.
                </p>

                <img src="~/img/Details/ChangeServer.gif" />

                <h2 id="AddNewWork" class="Headline">Добавление новой работы в БД:</h2>

                <p class="RegularFontStyle">
                    Для добавления выполненной работы необходимо заполнить все поля в левой части окна программы, во вкладке "Мои заявки".
                </p>

                <img src="~/img/Details/AddNewWork.gif" />

                <p class="RegularFontStyle">
                    Если не все поля были заполнены, то программа выдас ошибку в которой будет указано какие поля не были заполнены.
                </p>

                <img src="~/img/Details/ErrorOfAdd.gif" />

                <p class="RegularFontStyle">
                    Так же в полях "Номер заяки", "Инвентарный номер неисправного устройства" и "Инвентарный номер нового устройства" производится проверка вводимых данных.
                    В поле "Номер заявки" можно вводить только цифры.
                    В поля "Инвентарный номер неисправного устройства" и "Инвентарный номер нового устройства" можно вводить буквы и цифры. Длинна строки должна быть от 10 до 12 символов.
                </p>

                <p class="RegularFontStyle">
                    <span class="light-red-clr">
                        Необходимо помнить, что при выборе результата работ "Гарантийный ремонт" или "Платный ремонт" будет автоматически создан ремонт устройства
                        (Если устройства с таким инвентарным номером нет, то будет так же создана запись устройства).
                    </span>
                </p>

                <p class="RegularFontStyle">
                    В выпадающих списках реализован поиск.
                </p>

                <img src="~/img/Details/SearchInCombobox.gif" />

                <h2 id="AllOrders" class="Headline">Вкладка "все завки":</h2>

                <p class="RegularFontStyle">
                    В этой вкладке отображаются все работы всех пользователей.
                    При необходимости можно фильтровать выполненные работы предоставленными фильтрами.
                    Можно выбирать несколько фильтров одновременно.
                </p>

                <img src="~/img/Details/Filtering.gif" />

                <p id="CleanFilters" class="RegularFontStyle">
                    Очистка фильтров.
                </p>

                <img src="~/img/Details/CleanFilters.gif" />

                <p id="Search" class="RegularFontStyle">
                    Производить поиск по всем отображаетмым данным.
                </p>

                <img src="~/img/Details/Search.gif" />

                <p id="GetExcel" class="RegularFontStyle">
                    Выгружать все данные в файл Excel.
                </p>

                <img src="~/img/Details/ExcelAll.gif" />

                <p class="RegularFontStyle">
                    Выгружать отфильтрованные данные в файл Excel.
                </p>

                <img src="~/img/Details/ExcelDate.gif" />

                <p class="RegularFontStyle">
                    Выгружать выделенные данные в файл Excel.
                </p>

                <img src="~/img/Details/ExcelChose.gif" />

                <p id="LoadExcel" class="RegularFontStyle">
                    Так же в наличии фунция импорта ремонтов из файла Excel. Для загрузки, файл xlsx должен быть правильно отформатирован, содержать шапку и следующие поля:
                </p>

                <ol class="li-lists">
                    <li>Дата</li>
                    <li>Статус</li>
                    <li>Наименование\Тип ОС</li>
                    <li>Модель</li>
                    <li>Серийный номер</li>
                    <li>Инвентарный номер</li>
                    <li>Сц Окс</li>
                    <li>Основание</li>
                    <li>КА поставщик</li>
                    <li>КА ремонт</li>
                    <li>Передал</li>
                    <li>Неисправность</li>
                    <li>Дата отгрузки</li>
                    <li>Вернулось из ремонта</li>
                    <li>Номер заявки поставщика</li>
                    <li>Согласованная стоимость</li>
                    <li>Основание гарантии</li>
                    <li>Дата начала гарантии</li>
                    <li>Тип ремонта</li>
                </ol>

                <p class="RegularFontStyle">
                    <a href="~/ExcelExample/Example.xlsx">Образец файла Excel</a>
                </p>

                <img src="~/img/Details/LoadRepairsExcel.gif" />

                <p id="ChangeWork" class="RegularFontStyle">
                    При необходимости можно менять данные в работах. Для этого необходимо выбрать запись работы в таблице, при этом отобразятся все данные в полях под таблицей.
                    После произведения изменений необходимо нажать кнопку "Записать".
                </p>

                <img src="~/img/Details/ChangeWork.gif" />

                <p id="OrderStatus" class="RegularFontStyle">
                    Цветовая индикация статусов заявки:
                    <ul class="li-lists">
                        <li>"Архив" <span class="red-clr">(Красный)</span> - Запись считается ошибочной или не актуальной.</li>
                        <li>"Необходимо заполнить номер модернизации или списания" <span class="yellow-clr">(Желтый)</span> - По заявке быда произведена замена комплектцющих или устройства.</li>
                        <li>"Списано" <span class="blue-clr">(Голубой)</span> - После проведения работ устройство было списано.</li>
                        <li>"Модернизировано" <span class="green-clr">(Зеленый)</span> - Произведено обновление устройства.</li>
                    </ul>
                </p>

                <h2 id="Repairs" class="Headline">Вкладка ремонты:</h2>

                <p class="RegularFontStyle">
                    Данная вкладка не отличается от вкладки "Все работы" в плане пользовательского интерфейса.
                    Фильтрация, поиск и изменение данных производится точно так же, как было описано выше для вкладки "Все работы".
                </p>

                <p class="RegularFontStyle">
                    Добавление нового ремонта производится в новом окне, по нажатию кнопки "Добавить ремонт". Необходимо ввести актуальные данные, при этом, нет необходимости заполнять все поля сразу.
                    Сделано это по причине различных факторов, влияющих на количество данных у сотрудника, заполняещего форму ремонта на данный момент.
                    Если устройство с таким инвентарным номером уже существует, то ремонт привязывается к этому устройству, если такого устройства нет, то оно будет создано автоматически.
                </p>

                <img src="~/img/Details/AddRepair.gif" />

                <p class="RegularFontStyle">
                    Каждый ремонт привязан к определенному устройству устройству по инвентарному номеру. К устройству может быть привязано неограниченное количество ремонтов.
                    При изменении инвентрного номера в ремонте, сам ремонт не перейдет в список ремонтов другого устройства. Это сделано, чтобы избежать ошибков при случайном изменении инвентраного номера.
                </p>

                <p class="RegularFontStyle">
                    Цвет шрифта в столбце "Дней в ремонте" меняется в зависимости от количества дней проведенных в ремонте.
                    Белый - менее 15 дней, <span class="yellow-clr">желтый</span> - более 15 и менее 30 дней, <span class="red-clr">Красный</span> - более 30 дней.
</p>

                <p id="RepairsMenu" class="RegularFontStyle">
                    для более удобного отображения данных можно скрывать столбцы в контестном меню.
                </p>

                <img src="~/img/Details/HideColumns.gif" />

                <h2 id="Devices" class="Headline">Вкладка устройства:</h2>

                <p class="RegularFontStyle">
                    Данная вкладка содержит список устройств и их ремонты. При выборе устройства, в правой части окна будут отображаться ремонты, привязанные к этому устройству. ремонты можно изменять так же как во вкладке "Все ремонты".
                    При необходимости можно добавлять устройства вручную. Для этого необходимо запонить поля в левой верхней части вкладки "Устройства".
                </p>

                <img src="~/img/Details/AddDevice.gif" />

                <p class="RegularFontStyle">
                    Если при добавлении устройства сервер обнаружит, что устройство с таким инвентарным номером уже существует, то программа выдаст ошибку.
                </p>

                <img src="~/img/Details/AddDeviceError.gif" />

                <p id="ChangeDevice" class="RegularFontStyle">
                    Под списком устройств можно менять данные по выбраному устройству. Если изменить инвентарный номер устройства, то список ремонтов останется прежним.
                </p>

                <img src="~/img/Details/ChangeDevice.gif" />

                <p class="RegularFontStyle">
                    Для каждого устройства так же можно добавлять ремонты. Для этого необходимо нажать кнопку "Добавить ремонт". Форма добавления такая же как и во вкладке "Все ремонты".
                </p>

                <h2 id="Administrate" class="Headline">Вкладка администрирование:</h2>

                <p class="RegularFontStyle">
                    В этой вкладке производится управление пользователями и их уровнями доступа, выпадающими списками, статусами и т.д.
                </p>

                <p class="RegularFontStyle">
                    В левой части вкладки находятся категории записей.
                </p>

                <img src="~/img/Details/ChouseCategory.gif" />

                <p class="RegularFontStyle">
                    Выбрав каетгорию, можно производить несколько действий:
                </p>

                <h2 id="AdministrateAddItem" class="RegularFontStyle">
                    Добавление записи.
                </h2>

                <img src="~/img/Details/AddObject.gif" />

                <h2 id="AdministrateChangeItem" class="RegularFontStyle">
                    Изменение записи.
                </h2>

                <img src="~/img/Details/ChangeObject.gif" />

                <h2 id="AdministrateDeleteItem" class="RegularFontStyle">
                    Удаление записи.
                </h2>

                <img src="~/img/Details/DeleteObject.gif" />

                <p class="RegularFontStyle">
                    Те же самые действия можно производить с пользователями:
                </p>

                <h2 id="AdministrateAddUser" class="RegularFontStyle">
                    Добавление пользователя.
                </h2>

                <img src="~/img/Details/addUser.gif" />

                <h2 id="AdministrateChangeUser" class="RegularFontStyle">
                    Изменение пользователя.
                </h2>

                <img src="~/img/Details/ChangeUser.gif" />

                <h2 id="AdministrateDeleteUser" class="RegularFontStyle">
                    Удаление пользователя.
                </h2>

                <img src="~/img/Details/DeleteUser.gif" />

            </main>
        </div>
    </div>
</body>

</html>
