<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="HeaderDiv">
        <nav>
            <ul>
                <li><h4><a href='/Index/Index'>Главная</a></h4></li>
                <li><h4><a href='/Details/Details'>Инструкция</a></h4></li>
                <li><h4><a href='/Download/Download'>Скачать</a></h4></li>
            </ul>
        </nav>
    </div>
    <div>
        @RenderBody();
    </div>
</body>
</html>
