<!DOCTYPE html>
<header class='header'>
    <a href='/Index/Index' class='logo'>
        <img src='/img/Logo/logo.png' alt='WTLogo' class='logo-img' />
    </a>
    <div class='container header-container'>
        <nav class='nav'>
            <ul class='nav-list'>
                <li class='nav-item'>
                    <h5>
                        <a class='nav-a' href='/Index/Index'>Главная Work Tracking</a>
                    </h5>
                </li>
                <li class='nav-item'>
                    <h3>
                        <a class='nav-a' href='/Details/Details'>Инструкция Work Tracking</a>
                    </h3>
                </li>
                <li class='nav-item'>
                    <h3>
                        <a class='nav-a' href='/Download/Download'>Скачать Work Tracking</a>
                    </h3>
                </li>
                <li class='nav-item'>
                    <h3>
                        <a class='nav-a' href='/Index/Index'>Главная Sky Searcher</a>
                    </h3>
                </li>
                <li class='nav-item'>
                    <h3>
                        <a class='nav-a' href='/Details/Details'>Инструкция Sky Searcher</a>
                    </h3>
                </li>
                <li class='nav-item'>
                    <h3>
                        <a class='nav-a' href='/Download/Download'>Скачать Sky Searcher</a>
                    </h3>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        @RenderBody();
    </div>
</header>
