@{Layout = "MenuLayout"; }

<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <title>Главная Work Tracking</title>
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body class="BodyStyle">

    <header>
        <div class="DivRow">
            <h1 class="Headline">На этой странице вы можете скачать актуальную версию программы Work tracking</h1>
        </div>
    </header>
    <div class="MainDiv">
        <div class="DivRow">
            <main>
                <div>
                    <h3 class="Headline">Изменения в версии 2.0.6.4:</h3>
                    <ul>
                        <li class="change-li">Переработан интерфейс</li>
                        <li class="change-li">Значительно сокращенно количество дополнительных окон.</li>
                        <li class="change-li">Вкладки сверху заменены на кнопки в боковом меню</li>
                        <li class="change-li">Проверка вводимых данных (В поле "номер заявки" невозможно ввести буквы, в поле "Инвентарный номер неисправного устройства" и "нвентарный номер нового устройства" ограничен минимум 10 и максимум 12 символами).</li>
                        <li class="change-li">Теперь запись работы производиться только от имени пользователя авторизованного в системе. Нет возможности выбрать пользователя, от имени которого будет записываться работа.</li>
                        <li class="change-li">Добавлены разделители, которые позволяют изменять размеры некоторых элементов интерфейса. (<a href="/Index/Index">См. "краткий обзор интерфейса" на главной странице</a>)</li>
                        <li class="change-li">Переписана функциональная часть.</li>
                        <li class="change-li">Устранены некоторые неисправности в работе программы.</li>
                        <li class="change-li">Добавлена функция считывания файла Excel для добавления ремонтов (Файл excel должен быть правильно отформатирован)</li>
                    </ul>
                    <p class="RegularFontStyle">
                        <a href="~/CurrentVersion/WorkTracking.zip">Скачать тестовую версию Work Tracking 2.0.6.4</a>
                    </p>
                </div>
            </main>
        </div>
    </div>
</body>

</html>
