<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница Work Tracking</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/lightbox.css">
    <link rel="stylesheet" href="/css/style.css">   
    <script src="/js/lightbox-plus-jquery.min.js"></script>
</head>

<body class="body">
    <script src="/js/headerMenu.js"></script>
    <main class="main">
        <section class="section-description">
            <div class="container">
                <div class="description-content">
                    <h1 class="main-heading">
                        Описание программы Work Tracking
                    </h1>
                    <h3 class="lowheading lowheading-description">
                        Work tracking - это средство мониторинга выполненных работ и статуса устройств поступивших в
                        отдел компьютерного сервиса для ремонта или иных работ.
                    </h3>
                </div>
            </div>
        </section>
        <section class="section-manual">
            <div class="container">
                <p class="section-description-text">
                    Далее на странице будет представлена краткая инструкция по работе с программой Work tracking.
                </p>
                <p class="section-description-text">
                    На каждое изображение можно нажать для просмотра.
                </p>
                <div class="manual-content">
                    <div class="manual-flex">
                        <div class="manual-block">
                            <h2 class="manual-heading">
                                Краткий обзор интерфейса:
                            </h2>
                            <a href="/img/MainManual/InterfaceOverview.gif" data-lightbox="roadtrip">
                                <img src="/img/preview/Interface_preview.png" alt="краткий обзор интерфейса"
                                     class="manual-img manual-padding-img-first">
                            </a>
                        </div>
                        <div class="manual-block">
                            <h2 class="manual-heading">
                                Вкладка "Мои работы"
                            </h2>
                            <h3 class="lowheading">
                                Добавление новой работы:
                            </h3>
                            <a href="/img/MainManual/MyOrders.gif" data-lightbox="roadtrip">
                                <img src="/img/preview/My_works_Prewiew.png" alt='Обзор вкладки "Мои работы"'
                                     class="manual-img">
                            </a>
                        </div>
                        <div class="manual-block">
                            <h2 class="manual-heading">
                                Вкладка "Все работы"
                            </h2>
                            <h3 class="lowheading">
                                Изменение работы:
                            </h3>
                            <a href="/img/MainManual/AllOrders.gif" data-lightbox="roadtrip">
                                <img src="/img/preview/All_Works_Preview.png" alt='Обзор вкладки "Все работы"'
                                     class="manual-img">
                            </a>
                        </div>
                        <div class="manual-block">
                            <h2 class="manual-heading">
                                Вкладка "Все ремонты"
                            </h2>
                            <h3 class="lowheading">
                                Изменение ремонта:
                            </h3>
                            <a href="/img/MainManual/AllRepairs.gif" data-lightbox="roadtrip">
                                <img src="~/img/preview/All_Repairs_preview.png" alt='Обзор вкладки "Все ремонты"'
                                     class="manual-img">
                            </a>
                        </div>
                        <div class="manual-block">
                            <h2 class="manual-heading">
                                Вкладка "Устройства"
                            </h2>
                            <h3 class="lowheading">
                                добавление и изменение устройства, добавление и изменение ремонта устройства:
                            </h3>
                            <a href="/img/MainManual/Devices&Repairs.gif" data-lightbox="roadtrip">
                                <img src="/img/preview/Devices_Preview.png" alt='Обзор вкладки "Устройства"'
                                     class="manual-img">
                            </a>
                        </div>
                        <div class="manual-block">
                            <h2 class="manual-heading">
                                Вкладка "Администрирование"
                            </h2>
                            <h3 class="lowheading">
                                Добавление, изменение и удаление объектов:
                            </h3>
                            <a href="/img/MainManual/Administrate.gif" data-lightbox="roadtrip">
                                <img src="/img/preview/Administrate_preview.png" alt='Обзор вкладки "Администрирование"'
                                     class="manual-img manual-padding-last">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>
            Информация будет добавлена позже.
        </p>
    </footer>
</body>

</html>