@{Layout = "MenuLayout"; }

<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <title>Главная Work Tracking</title>
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body class="BodyStyle">

    <header>
        <div class="DivRow">
            <h1 class="Headline">Описание и инструкция программы Work Tracking</h1>
        </div>
    </header>
    <div class="MainDiv">
        <div class="DivRow">
            <h2 class="Headline">Work tracking - это средство мониторинга выполненных работ и статуса устройств поступивших для ремонта или иных работ.</h2>
            <p class="RegularFontStyle">
                Далее на странице будет представлена краткая инструкция по работе с программой Work tracking.
            </p>

            <main>
                <h2 class="Headline">Краткий обзор интерфейса:</h2>

                <img src="~/img/InterfaceOverview.gif" />

                <h2 class="Headline">Вкладка "Мои работы"</h2>

                <p class="RegularFontStyle">
                    Добавление новой работы:
                </p>
                <img src="~/img/MyOrders.gif" />

                <h2 class="Headline">Вкладка "Все работы"</h2>

                <p class="RegularFontStyle">
                    Изменение работы:
                </p>
                <img src="~/img/AllOrders.gif" />

                <h2 class="Headline">Вкладка "Все ремонты"</h2>

                <p class="RegularFontStyle">
                    Изменение ремонта:
                </p>
                <img src="~/img/AllRepairs.gif" />

                <h2 class="Headline">Вкладка "Устройства"</h2>

                <p class="RegularFontStyle">
                    добавление и изменение устройства, добавление и изменение ремонта устройства:
                </p>
                <img src="~/img/Devices&Repairs.gif" />

                <h2 class="Headline">Вкладка "Администрирование"</h2>

                <p class="RegularFontStyle">
                    Добавление, изменение и удаление объектов:
                </p>
                <img src="~/img/Administrate.gif" />
            </main>
        </div>
    </div>
</body>

</html>
