@*@{ Layout = "MenuLayout"; }*@

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница загрузки Work Tracking</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/headerMenu.js"></script>
</head>

<body class="body">
    <main>
        <section class="section-description">
            <h1 class="main-heading lowheading-details">
                На этой странице вы можете скачать актуальную версию программы Sky Searcher
            </h1>
        </section>
        <div class="container">
            <section class="section-changed">
                <h3 class="RegularFontStyle">
                    <a href="~/CurrentVersionSkySearcher/SkySearcher.zip">Скачать Sky Searcher</a>
                </h3>
            </section>
        </div>
    </main>
    <footer class="footer">
        <p>
            Информация будет добавлена позже.
        </p>
    </footer>
</body>

</html>
